
@{
    ViewBag.Title = "Detail";
    var seriesTitle = "The Amazing Spider-Man";
    var issueNumber = 700;
    var description = "<p>Final issue! Witness the final hours of Doctor Octopus' life and his one, last, great act of revenge! Even if Spider-Man survives... <strong>will Peter Parker?</stong></p>";
    var artists = new string[] {
        "Script : Dan Slott",
        "Pencils: Humberto Ramos",
        "Inks: Victor Olazaba",
        "Colors: Edger Delgado",
        "Letters: Chis Eliopoulos"

    };
}

<h2>Detail</h2>
<h1>@seriesTitle</h1>
<h2>Issue #@issueNumber</h2>
<div>@Html.Raw(description)</div>

<h5>Arists:</h5>
<div>@artists</div>
